<div class="contact">
	<div class="container ab">
		<div class="head_about">
			<h2><span>Contact Us</span></h2>
		</div>
		<div class="tag_line_about">
			<h4><span>Attract, Engage and Convert more qualified vehicle shoppers</span></h4>
		</div>
	</div>
</div>
<div class="container" style="padding-bottom: 40px;">
	<h3>Contact Information:</h3>
	<div class="col-md-12">
		<div class="col-md-4 linegap" style="text-align: justify;">
			<i class="fa fa-map-marker font-awe"></i> <strong>Address : </strong>
			<span style="font-size: 18px;"><strong> Srujana Engineers</strong></span>
			<br>
			<span style="margin-left:85px;"> Vavdi Survey No. 47, Plot No. 32,</span><br>
			<span style="margin-left:85px;"> Jivraj Industrial Area, Street No. 1,</span><br>
			<span style="margin-left:85px;"> Opp. Falcon Pump Street, Vavdi</span><br>
			<span style="margin-left:85px;"> Rajkot - 360004 (Gujarat) India</span>
		</div>
		<div class="col-md-4 linegap">
			<i class="fa fa-envelope-o font-awe"></i> <strong>Email : </strong><a href="mailto:info@hbpbearing.com"> info@hbpbearing.com</a>,
			<span style="margin-left: 71px;"> <a href="mailto:sales@hbpbearing.com">sales@hbpbearing.com</a></span>
		</div>
		<div class="col-md-4 linegap">
			<i class="fa fa-mobile fa-lg font-awe"></i> <strong>Mobile No : </strong>(+91) 98256 17640, <br>
			<span style="margin-left: 95px;">(+91) 93757 63408</span>
		</div>
	</div>
</div>