<div style="height: 570px">
  <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" no-pause="mouseoverNopause">
    <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
      <img ng-src="{{slide.image}}" style="margin:auto;">
      <div class="carousel-caption">
        <h4>Slide {{slide.id}}</h4>
        <p>{{slide.text}}</p>
      </div>
    </div>
  </div>
</div>
<div class="bearings" >
  <div class="pad_bearings">
    <div class="pad_pad_bearings" ng-mouseenter="options1=true" ng-mouseleave="options1=false" id="hover_div1">
      <div class="col-md-2 bearings_img" id="bearings1">
        <div ng-show="options1" class="hover_text">
          <center>
            <strong>EARTHMOVING STEEL BUSHES</strong>
          </center>
        </div>
      </div>
    </div>
    <div class="pad_pad_bearings" ng-mouseenter="options2=true" ng-mouseleave="options2=false" id="hover_div2">
      <div class="col-md-2 bearings_img" id="bearings2">
        <div ng-show="options2" class="hover_text">
          <center>
            <strong>EARTHMOVING PINS</strong>
          </center>
        </div>
      </div>
    </div>
    <div class="pad_pad_bearings" ng-mouseenter="options3=true" ng-mouseleave="options3=false" id="hover_div3">
      <div class="col-md-2 bearings_img" id="bearings3">
        <div ng-show="options3" class="hover_text">
          <center>
            <strong>EARTHMOVING BRONZE BUSHES</strong>
          </center>
        </div>
      </div>
    </div>
    <div class="pad_pad_bearings" ng-mouseenter="options4=true" ng-mouseleave="options4=false" id="hover_div4">
      <div class="col-md-2 bearings_img" id="bearings4">
        <div ng-show="options4" class="hover_text">
          <center>
            <strong>EARTHMOVING BEARINGS</strong>
          </center>
        </div>
      </div>
    </div>
    <div class="pad_pad_bearings" ng-mouseenter="options5=true" ng-mouseleave="options5=false" id="hover_div5">
      <div class="col-md-2 bearings_img" id="bearings5">
        <div ng-show="options5" class="hover_text">
          <center>
            <strong>EARTHMOVING PISTON & HEND END COVER</strong>
          </center>
        </div>
      </div>
    </div>
    <div class="pad_pad_bearings" ng-mouseenter="options6=true" ng-mouseleave="options6=false" id="hover_div6">
      <div class="col-md-2 bearings_img" id="bearings6">
        <div ng-show="options6" class="hover_text">
          <center>
            <strong>COMPRESSOR BEARINGS</strong>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>